# Dependencies
node_modules/

# Build outputs
dist/
build/
.next/
out/

# Env
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
logs/
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# System dumps locais
net.txt

# Prisma
generated/

# Test
coverage/
.nyc_output/

# Editor / IDE
.vscode/
.idea/
*.swp

# Docker volumes local
.postgres-data/
.redis-data/

# PM2
.pm2/
runtime/